body {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

h1 {
  margin: 20px 0 10px;
  line-height: 29px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #212121;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.Weather {
  background: #14666b;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  padding: 40px;
  color: white;
}

.containter {
  box-sizing: border-box;
  color: rgb(33, 37, 41);
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 665px;
  line-height: 24px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 960px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  text-size-adjust: 100%;
  width: 800px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.unit {
  color: #212121;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -23px;
}

.temperature {
  color: #212121;
  font-size: 80px;
  line-height: 36px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  top: 11px;
}
.signature {
  color: #a9a6b3;
  display: block;
}
